.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.callback{
    border: none;
    background-color: white;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-left: 8px;
}

.callback:hover{
    box-shadow: 0px 3px 8px #707070;
}

.callbackSvg{
    margin-left: -6px;
    margin-top: -1px;
}

.disconnected{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 20px;
}