
.element {
  position: relative;
  --app-blue: #7494ff;
}
.element .coche {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 10px;
  width: 10px;
  left: 20px;
  top: 30px;
}
.checkmark {
  position: absolute;
  top: 10px;
  left: 14px;
  height: 25px;
  width: 25px;
  background-color: #eceaeac5;
  border: solid 1px #9b9a9a8f;
  border-radius: 20px;
}
.element:hover .coche ~ .checkmark {
  box-shadow: #5c5b5b;
}
.element .coche:checked ~ .checkmark {
  background-color: var(--app-blue);
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.element .coche:checked ~ .checkmark:after {
  display: block;
}
.element .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bloc{
    border: 0.3px solid rgb(256, 256, 256);
    width: 335px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 6px rgb(224, 224, 224);
    border-radius: 20px;
}

input {
  width: 240px;
  border: none;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  outline: none;
}

div input:focus {
  border: 1px solid #7494ff;
  box-shadow: none;
  background-color: white;
}

input:hover {
  background-color: #b16ff3;
}

.inputButton{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 6px;
}

.add:hover{
    box-shadow: 0px 3px 8px #707070;
}

.add{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 100px;
    border: none;
}

.addSvg{
    margin-left: -6px;
    margin-top: -1px;
}

.content-list{
  border: 0.3px solid rgb(256, 256, 256);
  width: 335px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  border-radius: 20px;
}

.bloc2 {
  border: rgb(256, 256, 256) solid 1px;
  height: 300px;
  width: 335px;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 30px;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  overflow-y: scroll;
  overflow-x: hidden;
}
.bloc2::-webkit-scrollbar {
  width: 10px;
}
.bloc2::-webkit-scrollbar-track {
  border-radius: 10px;
}
.bloc2::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 10px;
  border-color: #707070;
}

.text {
  border: 1px solid rgb(256, 256, 256);
  background-color: white;
  height: 43px;
  width: 300px;
  color: black;
  margin-left: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 3px 8px rgb(224, 224, 224);
  margin-top: 15px;
  margin-bottom: 5px;
  max-width: 95%;
}

.supp {
  position: absolute;
  left: 280px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 30px;
  color: white;
  background-color: #ff5252;
  border: none;
  font-size: 20px;
}
.supp:hover {
  color: #970101;
  box-shadow: 0px 3px 8px #707070;
}
